<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/main">Kreeative Minds</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#/about">About</a>
				</li>
				<li>
					<a href="#/search">Search books</a>
				</li>
				<li ng-show="model.loggedIn">
					<a href="#/search/readers">Search readers</a>
				</li>
				<li ng-show="model.loggedIn">
					<a href="#/user/{{model.currentUser._id}}">{{model.currentUser.firstName}}</a>
				</li>
				<li ng-show="model.loggedIn==false">
					<a href="#/login">Login/Register</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>


<!--Home page image-->
<div class="homepage-header">

</div>

<div class="container main-content-padding">


	<!--New Release-->
	<div class="main-page-heading">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1 text-center">
					<h2>Discover the world of Literature!</h2>
					<h3>New Release Books</h3>
					<hr class="small">
					<div class="row">
						<div class="col-md-4" ng-repeat="newRelease in model.newReleases">
							<div class="portfolio-item">
								<a ng-click="model.getBookDetails(newRelease.id)">
									<h4>{{newRelease.volumeInfo.title}}</h4>
									<img class="img-portfolio img-responsive" ng-src="{{newRelease.volumeInfo.imageLinks.thumbnail}}">
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- /.col-lg-10 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</div>

	<!--Reviews from reader-->
	<div class="main-page-heading">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1 text-center">
					<h3>Reviews from the Readers</h3>
					<hr class="small">
					<div class="row">
						<div class="col-md-6" ng-repeat="readerReview in model.readerReviews">
							<div class="portfolio-item">
								<h3>{{readerReview.title}}</h3>
								<p>
									{{readerReview.review}}
								</p>
								<em>- {{readerReview.firstName}} {{readerReview.lastName}}</em>
							</div>
						</div>
					</div>
				</div>
				<!-- /.col-lg-10 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</div>

</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom" >
	<div class="container footer-message">
		<h5>
			<i class="fa fa-copyright" aria-hidden="true"></i>
			Kreena Mehta
		</h5>
	</div>
</nav>

