.body{
    margin-top: 50px;
}

.homepage-background{
    background: url("../images/homepage.jpg") no-repeat center center fixed;
    background-size: cover;
    opacity: 0.8;
    text-align: center;

}

.homepage-message{
    position: relative;
    padding-top: 15%;
    top: 50%;
    color: black;
    font-family: "Lucida Bright", Serif;
    font-size: 70px;
    font-weight: lighter;
    text-align: inherit;
}

.homepage-buttons{
    position: relative;
    padding-bottom: 20%;
}



