<nav class="navbar navbar-dark navbar-fixed-top bg-primary">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 hidden-sm hidden-xs">
				<a class="navbar-brand bg-primary glyphicon glyphicon-chevron-left header" href="#/user/{{model.userId}}">
				</a>
				<div class="navbar-header-fixed">
					<p class="navbar-brand header boldFont">Websites</p>
				</div>
				<a class="navbar-brand bg-primary glyphicon glyphicon-plus pull-right header" href="#/user/{{model.userId}}/website/new">
				</a>
			</div>
			<div class="col-md-8">
				<a class="navbar-brand bg-primary glyphicon glyphicon-chevron-left header hidden-md hidden-lg" href="#/user/{{model.userId}}/website">
				</a>
				<div class="navbar-header-fixed">
					<p class="navbar-brand header boldFont">Edit Website</p>
				</div>
				<a ng-click="model.updateWebsite(model.website)" class="navbar-brand bg-primary glyphicon glyphicon-ok pull-right header">
				</a>
			</div>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 hidden-sm hidden-xs">
			<ul class="list-unstyled">
				<li ng-repeat="website in model.websites" class="text-primary list-group-item borderless">
					<a href="#/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a>
					<a href="#/user/{{model.userId}}/website/{{website._id}}">
						<span class="glyphicon glyphicon-cog pull-right">
						</span>
					</a>
				</li>
			</ul>

		</div>
		<div class="verticalLine hidden-sm hidden-xs">

		</div>
		<div class="col-md-8">
			<form>
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text"
					       ng-model="model.website.name"
					       class="form-control"
					       id="name"
					       placeholder="Name">
				</div>
				<div class="form-group">
					<label for="Description">Description</label>
					<textarea class="form-control"
					          ng-model="model.website.description"
					          id="Description"
					          placeholder="Description"
					          rows="5">
					</textarea>
				</div>
				<a ng-click="model.deleteWebsite()" class="btn btn-danger btn-block">Delete</a>
				<div ng-show="model.error" class="alert alert-danger boxTopMargin" role="alert">{{model.error}}</div>
			</form>

		</div>

	</div>
</div>

<nav class="navbar bg-primary navbar-fixed-bottom ">
	<div class="container-fluid">
		<a class="navbar-brand bg-primary glyphicon glyphicon glyphicon-user pull-right" href="#/user/{{model.userId}}">
		</a>
	</div>
</nav>
