input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
    padding-bottom: 60px;
}

.profile-padding{
    padding-top: 70px;
}

li.borderless {
    border: 0 none;
}

.navbar-header{
    height: 50px;
}

.navbar-fixed-bottom{
    height: 50px;
}

.profile-header{
    padding-top: 20px;
    padding-bottom: 20px;
}

.youtube-video{
    width: 100%;
}

.navbar-brand.header{
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand.glyphicon-plus{
    padding-right: 0px;
}

.navbar-brand.glyphicon-ok{
    padding-right: 0px;
}
