input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
    padding-bottom: 60px;
}

.profile-padding{
    padding-top: 70px;
}

li.borderless {
    border: 0 none;
}

.navbar-header{
    height: 50px;
}

.navbar-fixed-bottom{
    height: 50px;
}

.profile-header{
    padding-top: 20px;
    padding-bottom: 20px;
}

.youtube-video{
    width: 100%;
}

.navbar-brand.header{
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand.glyphicon-plus{
    padding-right: 0;
}

.navbar-brand.glyphicon-ok{
    padding-right: 0;
}

.relative-position {
    position: relative;
}

.absolute-position {
    position: absolute;
}

.list-element-menu {
    top: 0;
    right: 0;
    z-index: 10;
    background-color: white;
}
.zero-right-padding {
    padding-right: 0;
}

.verticalLine {
    width:1px;
    background-color: black;
    left: 33%;
    position: absolute;
    z-index: 5;
    top:0;
    bottom: 0;
}

.boldFont{
    font-weight: bold;
}

.boxTopMargin {
    margin-top: 10px;
}

.boxBottomMargin{
    margin-bottom: 10px;
}

.previewBox{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: medium;
}
