.homepage-background{
    background: url("../images/project-homepage.png") no-repeat left center fixed;
    background-size: cover;
    text-align: center;
}



.homepage-intro{
    font-family: "American Typewriter";
    font-size: 30px;
    padding-top: 50px;
    text-align: center;
    color: black;
    overflow: auto; /* Ensures the content is not revealed until the animation */
    /*border-right: .115em solid transparent; !* The typwriter cursor *!*/
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(40, end);
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
