/*Body*/
body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Apple Braille",sans-serif;
    font-weight: 500;
}

/* Carousal */
.carousal-images{
    width: 100%;
    height: auto;
}


/* Main page */
.main-page-heading{
    text-align: center;
}


.main-content-padding{
    padding-top: 20px;
    padding-bottom: 40px;
}


/* Portfolio - for main page 'New Release' and 'Reviews' */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
    width: 210px;
    height: 300px;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Footer */
.footer-message{
    padding-top: 5px;
    color: darkgrey;
}

/* About page */

.about-content-padding{
    padding-top: 100px;
}

/* Search page */

.search-content-padding{
    padding-top: 50px;
}

/* Login */

.login-content-padding{
    padding-top: 50px;
}

.login-button{
    padding: 10px 0;
}

/* Register */

.register-content-padding{
    padding-top: 50px;
}

.register-button{
    padding: 10px 0;
}

/* Profile */

.profile-content-padding{
    padding-top: 50px;
}

.profile-button{
    padding: 10px 0;
}


/* Book shelf */
.bookshelf-poster{
    width: 100px;
    height: 150px;
}

.see-details-button{
    align-content: center;
    font-size: large;
    color: green;
}

.remove-button{
    align-content: center;
    font-size: large;
    color: crimson;
}

/* Book */

.book-content-padding{
    padding-top: 50px;
}

.book-info{
    padding-top: 30px;
}

.book-reviews{
    padding-top: 20px;
}

.reviewer{
    font-weight: bold;
}

.review-edit-button{
    padding-right: 20px;
    padding-left: 20px;
}

.book-individual-review{
    border: none;
    margin: 5px;
    text-align: justify;
}

.add-to-book-shelf{
    margin: 10px;
}

.submit-review-button{
    margin-top: 10px;
}

/*Readers list*/

.reader-profile-button{
    padding-left: 20px;
    padding-right: 10px;
    color: lightseagreen;
    font-size: 25px;
}

/*Reader profile*/

.reader-name{
    text-align: center;
}