<nav class="navbar navbar-default navbar-fixed-top bg-primary">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 hidden-sm hidden-xs">
				<a class="navbar-brand navbar-default bg-primary glyphicon glyphicon-chevron-left header" href="#/user/:uid/website">
				</a>
				<div class="navbar-header-fixed">
					<p class="navbar-brand header boldFont">Pages</p>
				</div>
				<a class="navbar-brand navbar-default bg-primary glyphicon glyphicon-plus pull-right header" href="#/user/:uid/website/:wid/page/new">
				</a>
			</div>
			<div class="col-md-8">
				<a class="navbar-brand navbar-default bg-primary glyphicon glyphicon-chevron-left header hidden-md hidden-lg" href="#/user/:uid/website/:wid/page">
				</a>
				<div class="navbar-header-fixed">
					<p class="navbar-brand header boldFont">New Page</p>
				</div>
				<a class="navbar-brand navbar-default bg-primary glyphicon glyphicon-ok pull-right header" href="#/user/:uid/website/:wid/page">
				</a>
			</div>
		</div>

	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 hidden-sm hidden-xs">
			<ul class="list-unstyled">
				<li class="text-primary list-group-item borderless"><a href="#/user/:uid/website/:wid/page/:pid/widget">Blog Post</a>
					<a href="#/user/:uid/website/:wid/page/:pid"><span class="glyphicon glyphicon-cog pull-right">
			</span></a>

				</li>
				<li class="text-primary list-group-item borderless"><a href="#/user/:uid/website/:wid/page/:pid/widget">Blogs</a>
					<a href="#/user/:uid/website/:wid/page/:pid"><span class="glyphicon glyphicon-cog pull-right">
			</span></a>
				</li>
				<li class="text-primary list-group-item borderless"><a href="#/user/:uid/website/:wid/page/:pid/widget">Home</a>
					<a href="#/user/:uid/website/:wid/page/:pid"><span class="glyphicon glyphicon-cog pull-right">
			</span></a>
				</li>
				<li class="text-primary list-group-item borderless"><a href="#/user/:uid/website/:wid/page/:pid/widget">About</a>
					<a href="#/user/:uid/website/:wid/page/:pid"><span class="glyphicon glyphicon-cog pull-right">
			</span></a>
				</li>
				<li class="text-primary list-group-item borderless"><a href="#/user/:uid/website/:wid/page/:pid/widget">Contact Us</a>
					<a href="#/user/:uid/website/:wid/page/:pid"><span class="glyphicon glyphicon-cog pull-right">
			</span></a>
				</li>
			</ul>
		</div>
		<div class="verticalLine hidden-sm hidden-xs">

		</div>
		<div class="col-md-8">
			<form>
				<div class="form-group">
					<label for="page-name">Name</label>
					<input type="text" class="form-control" id="page-name" placeholder="Page Name">
				</div>
				<div class="form-group">
					<label for="page-title">Title</label>
					<input type="text" class="form-control" id="page-title" placeholder="Page Title">
				</div>
			</form>

		</div>
	</div>


</div>

<nav class="navbar navbar-default bg-primary navbar-fixed-bottom ">
	<div class="container-fluid">
		<a class="navbar-brand navbar-default bg-primary glyphicon glyphicon glyphicon-user pull-right" href="#/user/:uid">
		</a>
	</div>
</nav>
