

<nav class="navbar navbar-default navbar-fixed-top bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand navbar-default bg-primary glyphicon glyphicon-chevron-left header" href="../website/website-list.view.client.html">
		</a>
		<div class="navbar-header-fixed">
			<p class="navbar-brand header boldFont">Pages</p>
		</div>
		<a class="navbar-brand navbar-default bg-primary glyphicon glyphicon-plus pull-right header" href="page-new.view.client.html">
		</a>
	</div>
</nav>


<ul class="list-unstyled">
	<li class="text-primary list-group-item borderless"><a href="../widget/widget-list.view.client.html">Blog Post</a>
		<a href="page-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right">
			</span></a>

	</li>
	<li class="text-primary list-group-item borderless"><a href="../widget/widget-list.view.client.html">Blogs</a>
		<a href="page-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right">
			</span></a>
	</li>
	<li class="text-primary list-group-item borderless"><a href="../widget/widget-list.view.client.html">Home</a>
		<a href="page-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right">
			</span></a>
	</li>
	<li class="text-primary list-group-item borderless"><a href="../widget/widget-list.view.client.html">About</a>
		<a href="page-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right">
			</span></a>
	</li>
	<li class="text-primary list-group-item borderless"><a href="../widget/widget-list.view.client.html">Contact Us</a>
		<a href="page-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right">
			</span></a>
	</li>
</ul>

<nav class="navbar navbar-default navbar-fixed-bottom ">
	<div class="container-fluid">
		<a class="navbar-brand navbar-default glyphicon glyphicon glyphicon-user pull-right" href="../views/user/profile.view.client.html">
		</a>
	</div>
</nav>
