<div class="container">
    <h1>Login</h1>
    <label for="username">Username</label>
    <input type="text"
           class="form-control"
           id="username"
           placeholder="username"/>
    <label for="password">Password</label>
    <input type="password"
           class="form-control"
           id="password"
           placeholder="password"/>
    <a class="btn btn-primary btn-block"
       href="#/user/:uid">Login</a>
    <a class="btn btn-success btn-block"
       href="#/register">Register</a>
</div>
