<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/main">Kreeative Minds</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#/about">About</a>
				</li>
				<li>
					<a href="#/search">Search books</a>
				</li>
				<li ng-show="model.loggedIn">
					<a href="#/searchReaders">Search readers</a>
				</li>
				<li ng-show="model.loggedIn">
					<a href="#/user/{{model.currentUser._id}}">{{model.currentUser.firstName}}</a>
				</li>
				<li ng-show="model.loggedIn==false">
					<a href="#/login">Login/Register</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>

<div class="container book-content-padding">
	<div class="row">
		<h2 class="text-center">{{model.book.volumeInfo.title}}</h2>
		<div class="col-md-12  book-info">
			<table class="table">
				<tr>
					<th>Front Cover</th>
					<td><img ng-src="{{model.book.volumeInfo.imageLinks.thumbnail}}" class="book-detail-poster"></td>
				</tr>
				<tr>
					<th>Author</th>
					<td>
						<ul class="list-unstyled">
							<li ng-repeat="author in model.book.volumeInfo.authors">
								{{author}}
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<th>Publisher</th>
					<td>{{model.book.volumeInfo.publisher}}</td>
				</tr>
				<tr>
					<th>Published date</th>
					<td>{{model.book.volumeInfo.publishedDate}}</td>
				</tr>
				<tr ng-show="model.book.volumeInfo.description">
					<th>Description</th>
					<td><div ng-bind-html="model.checkSafeHtml(model.book.volumeInfo.description)">
						</div>
					</td>
				</tr>
				<tr>
					<th>Average rating</th>
					<td>{{model.book.volumeInfo.averageRating}}</td>
				</tr>
			</table>
			<div ng-show="model.error" class="alert alert-danger add-to-book-shelf" role="alert">
				{{model.error}}
			</div>
			<div ng-show="model.info" class="alert alert-info add-to-book-shelf" role="alert">
				{{model.info}}
			</div>
			<div ng-show="model.successfulAdd" class="alert alert-success add-to-book-shelf" role="alert">
				{{model.successfulAdd}}
			</div>
			<a ng-click="model.addToBookshelf()" class="btn btn-block btn-primary add-to-book-shelf">Add to your bookshelf</a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 book-reviews">
			<h3>Reviews from readers</h3>
			<ul class="list-group">
				<li class="list-group-item book-individual-review">
					<em class="list-group-item-heading">Reader 1</em>
					<p class="list-group-item-text">Paulo Coelho's enchanting novel has inspired a devoted following around the world. This story, dazzling in its powerful simplicity and inspiring wisdom, is about an Andalusian shepherd boy named Santiago who travels from his homeland in Spain to the Egyptian desert in search of a treasure buried in the Pyramids. Along the way he meets a Gypsy woman, a man who calls himself king, and an alchemist, all of whom point Santiago in the direction of his quest. No one knows what the treasure is, or if Santiago will be able to surmount the obstacles along the way. But what starts out as a journey to find worldly goods turns into a discovery of the treasure found within. Lush, evocative, and deeply humane, the story of Santiago is an eternal testament to the transforming power of our dreams and the importance of listening to our hearts.</p>
				</li>
				<li class="list-group-item book-individual-review">
					<em class="list-group-item-heading">Reader 2</em>
					<p class="list-group-item-text">Paulo Coelho's enchanting novel has inspired a devoted following around the world. This story, dazzling in its powerful simplicity and inspiring wisdom, is about an Andalusian shepherd boy named Santiago who travels from his homeland in Spain to the Egyptian desert in search of a treasure buried in the Pyramids. Along the way he meets a Gypsy woman, a man who calls himself king, and an alchemist, all of whom point Santiago in the direction of his quest. No one knows what the treasure is, or if Santiago will be able to surmount the obstacles along the way. But what starts out as a journey to find worldly goods turns into a discovery of the treasure found within. Lush, evocative, and deeply humane, the story of Santiago is an eternal testament to the transforming power of our dreams and the importance of listening to our hearts.</p>
				</li>
				<li class="list-group-item book-individual-review">
					<em class="list-group-item-heading">Reader 3</em>
					<p class="list-group-item-text">Paulo Coelho's enchanting novel has inspired a devoted following around the world. This story, dazzling in its powerful simplicity and inspiring wisdom, is about an Andalusian shepherd boy named Santiago who travels from his homeland in Spain to the Egyptian desert in search of a treasure buried in the Pyramids. Along the way he meets a Gypsy woman, a man who calls himself king, and an alchemist, all of whom point Santiago in the direction of his quest. No one knows what the treasure is, or if Santiago will be able to surmount the obstacles along the way. But what starts out as a journey to find worldly goods turns into a discovery of the treasure found within. Lush, evocative, and deeply humane, the story of Santiago is an eternal testament to the transforming power of our dreams and the importance of listening to our hearts.</p>
				</li>
			</ul>
			<form class="form-group">
				<label for="book-review">Write a review!</label>
				<textarea id="book-review" rows="5" class="form-control"></textarea>
				<a class="btn btn-block btn-primary submit-review-button">Submit</a>
			</form>
		</div>
	</div>
</div>