<div class="container-fluid">
	<form>
		<div class="form-group">
			<label for="widget-name">Name</label>
			<input type="text"
			       ng-model="model.widget.name"
			       class="form-control"
			       id="widget-name">
		</div>
		<div class="form-group">
			<label for="heading-text">Text</label>
			<input type="text"
			       ng-model="model.widget.text"
			       class="form-control"
			       id="heading-text"
			       placeholder="Page Title">
		</div>
		<div class="form-group">
			<label for="heading-size">Size</label>
			<input type="number"
			       ng-model="model.widget.size"
			       class="form-control"
			       id="heading-size"
			       value="3">
		</div>
		<a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="btn btn-danger btn-block">Delete</a>
	</form>
</div>