<div class="container-fluid">
	<form>
		<div class="form-group">
			<label for="widget-name">HTML content</label>
			<textarea rows="5"
			          ng-model="model.widget.text"
			          class="form-control"
			          placeholder="HTML content"
			          id="widget-name"></textarea>
		</div>
		<a ng-click="model.deleteWidget()"
		   class="btn btn-danger btn-block">Delete</a>
		<div ng-show="model.error" class="alert alert-danger alertBoxTopMargin" role="alert">{{model.error}}</div>
	</form>
</div>