<nav class="navbar navbar-default navbar-fixed-top bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand navbar-default bg-primary glyphicon glyphicon-chevron-left header" href="#/user/:uid/website/:wid/page/:pid/widget">
		</a>
		<div class="navbar-header-fixed">
			<p class="navbar-brand header boldFont">Edit Widget</p>
		</div>
		<a class="navbar-brand navbar-default bg-primary glyphicon glyphicon-ok pull-right header" href="#/user/:uid/website/:wid/page/:pid/widget">
		</a>
	</div>
</nav>

<div class="container-fluid">

	<div id="left-pane-landscape"></div>

	<form>
		<div class="form-group">
			<label for="page-name">Name</label>
			<input type="text" class="form-control" id="page-name">
		</div>
		<div class="form-group">
			<label for="heading-text">Text</label>
			<input type="text" class="form-control" id="heading-text" placeholder="Page Title" value="US Senate Reaches Compromise on Emergency Zika Funding.">
		</div>
		<div class="form-group">
			<label for="heading-size">Size</label>
			<input type="number" class="form-control" id="heading-size" value="3">
		</div>
		<a href="#/user/:uid/website/:wid/page/:pid/widget" class="btn btn-danger btn-block">Delete</a>
	</form>

</div>

<nav class="navbar navbar-default bg-primary navbar-fixed-bottom ">
	<div class="container-fluid">
		<a class="navbar-brand navbar-default bg-primary glyphicon glyphicon glyphicon-user pull-right" href="#/user/:uid">
		</a>
	</div>
</nav>
