<nav class="navbar navbar-default navbar-fixed-top bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand navbar-default bg-primary glyphicon glyphicon-chevron-left header" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
		</a>
		<div class="navbar-header-fixed">
			<p class="navbar-brand header boldFont">Choose Widget</p>
		</div>
	</div>
</nav>

<ul class="list-unstyled">
	<li class="text-primary list-group-item borderless">
		<a ng-click="model.newWidget('header')">Header</a>
	</li>

	<li class="text-primary list-group-item borderless">
		<a href="#">Label</a>
	</li>

	<li class="text-primary list-group-item borderless">
		<a ng-click="model.newWidget('html')">HTML</a>
	</li>

	<li class="text-primary list-group-item borderless">
		<a href="#">Text Input</a>
	</li>

	<li class="text-primary list-group-item borderless">
		<a href="#">Link</a>
	</li>

	<li class="text-primary list-group-item borderless">
		<a href="#">Button</a>
	</li>

	<li class="text-primary list-group-item borderless">
		<a ng-click="model.newWidget('image')">Image</a>
	</li>

	<li class="text-primary list-group-item borderless">
		<a ng-click="model.newWidget('youtube')">YouTube</a>
	</li>

	<li class="text-primary list-group-item borderless">
		<a href="#">Data Table</a>
	</li>

	<li class="text-primary list-group-item borderless">
		<a href="#">Repeater</a>
	</li>

</ul>

<nav class="navbar navbar-default navbar-fixed-bottom ">
	<div class="container-fluid">
		<a class="navbar-brand navbar-default glyphicon glyphicon glyphicon-user pull-right" href="#/user/{{model.userId}}">
		</a>
	</div>
</nav>
