<nav class="navbar navbar-default navbar-fixed-top bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand navbar-default bg-primary glyphicon glyphicon-chevron-left header" href="#/user/:uid/website/:wid/page/:pid/widget">
		</a>
		<div class="navbar-header-fixed">
			<p class="navbar-brand header boldFont">Choose Widget</p>
		</div>
	</div>
</nav>

<ul class="list-unstyled">
	<li class="text-primary list-group-item borderless"><a href="widget-heading.view.client.html">Header</a>
		<a href="#/user/:uid/website/:wid/page/:pid"></a>
	</li>

	<li class="text-primary list-group-item borderless"><a href="#">Label</a>
		<a href="#/user/:uid/website/:wid/page/:pid"></a>
	</li>

	<li class="text-primary list-group-item borderless"><a href="#">HTML</a>
		<a href="#/user/:uid/website/:wid/page/:pid"></a>
	</li>

	<li class="text-primary list-group-item borderless"><a href="#">Text Input</a>
		<a href="#/user/:uid/website/:wid/page/:pid"></a>
	</li>

	<li class="text-primary list-group-item borderless"><a href="#">Link</a>
		<a href="#/user/:uid/website/:wid/page/:pid"></a>
	</li>

	<li class="text-primary list-group-item borderless"><a href="#">Button</a>
		<a href="#/user/:uid/website/:wid/page/:pid"></a>
	</li>

	<li class="text-primary list-group-item borderless"><a href="widget-image.view.client.html">Image</a>
		<a href="#/user/:uid/website/:wid/page/:pid"></a>
	</li>

	<li class="text-primary list-group-item borderless"><a href="widget-youtube.view.client.html">YouTube</a>
		<a href="#/user/:uid/website/:wid/page/:pid"></a>
	</li>

	<li class="text-primary list-group-item borderless"><a href="#">Data Table</a>
		<a href="#/user/:uid/website/:wid/page/:pid"></a>
	</li>

	<li class="text-primary list-group-item borderless"><a href="#">Repeater</a>
		<a href="#/user/:uid/website/:wid/page/:pid"></a>
	</li>

</ul>

<nav class="navbar navbar-default navbar-fixed-bottom ">
	<div class="container-fluid">
		<a class="navbar-brand navbar-default glyphicon glyphicon glyphicon-user pull-right" href="#/user/:uid">
		</a>
	</div>
</nav>
