<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Kreeative Minds</title>

		<!-- Bootstrap Core CSS -->
		<link href="../../css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="../../css/stylish-portfolio.css" rel="stylesheet">

		<!-- Custom Fonts -->
		<link href="../../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>

	<body>

		<!-- Navigation -->
		<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
		<nav id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
				<li class="sidebar-brand">
					<a href="../../index.html" onclick=$("#menu-close").click();>Kreeative Minds</a>
				</li>
				<li class="sidebar-brand">
					<a href="../user/profile.view.client.html" onclick=$("#menu-close").click();>Profile</a>
				</li>
				<li class="sidebar-brand">
					<a href="#bookshelf" onclick=$("#menu-close").click();>Bookshelf</a>
				</li>
				<li class="sidebar-brand">
					<a href="../search/title.view.client.html" onclick=$("#menu-close").click();>Search by title</a>
				</li>
				<li class="sidebar-brand">
					<a href="../search/author.view.client.html" onclick=$("#menu-close").click();>Search by author</a>
				</li>
				<li class="sidebar-brand">
					<a href="../search/genre.view.client.html" onclick=$("#menu-close").click();>Search by genre</a>
				</li>
				<li class="sidebar-brand">
					<a href="../../index.html" onclick=$("#menu-close").click();>Logout</a>
				</li>
				<li>
					<a href="#contact" onclick=$("#menu-close").click();>Contact</a>
				</li>
			</ul>
		</nav>

		<!--Back button-->
		<div class="bg-info">
			<a href="../bookshelf/bookshelf.view.client.html" class="btn btn-dark btn-lg back-button"><i class="fa fa-chevron-left fa-fw fa-1x"></i></a>
		</div>



		<section id="bookshelf" class="bookshelf bg-info">
			<div class="container">
				<div class="row">
					<h2 class="text-center">The Alchemist</h2>
					<div class="col-md-4">
						<img src="../../img/the-alchemist.jpg" class="book-detail-poster">
					</div>
					<div class="col-md-8  book-info">
						<table class="table">
							<tr>
								<th>Author</th>
								<td>Paulo Coelho</td>
							</tr>
							<tr>
								<th>Publisher</th>
								<td>HarperOne</td>
							</tr>
							<tr>
								<th>Published date</th>
								<td>1993-04-16</td>
							</tr>
							<tr>
								<th>Description</th>
								<td>A fable about undauntingly following one's dreams, listening to one's heart, and reading life's omens features dialogue between a boy and an unnamed being. 50,000 first printing. $50,000 ad/promo.</td>
							</tr>
							<tr>
								<th>Average rating</th>
								<td>4.5</td>
							</tr>
						</table>
						<a href="#" class="btn btn-block btn-primary add-to-book-shelf">Add to your bookshelf</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 book-reviews">
						<h3>Reviews from readers</h3>
						<ul class="list-group">
							<li class="list-group-item book-individual-review">
								<em class="list-group-item-heading">Reader 1</em>
								<p class="list-group-item-text">Paulo Coelho's enchanting novel has inspired a devoted following around the world. This story, dazzling in its powerful simplicity and inspiring wisdom, is about an Andalusian shepherd boy named Santiago who travels from his homeland in Spain to the Egyptian desert in search of a treasure buried in the Pyramids. Along the way he meets a Gypsy woman, a man who calls himself king, and an alchemist, all of whom point Santiago in the direction of his quest. No one knows what the treasure is, or if Santiago will be able to surmount the obstacles along the way. But what starts out as a journey to find worldly goods turns into a discovery of the treasure found within. Lush, evocative, and deeply humane, the story of Santiago is an eternal testament to the transforming power of our dreams and the importance of listening to our hearts.</p>
							</li>
							<li class="list-group-item book-individual-review">
								<em class="list-group-item-heading">Reader 2</em>
								<p class="list-group-item-text">Paulo Coelho's enchanting novel has inspired a devoted following around the world. This story, dazzling in its powerful simplicity and inspiring wisdom, is about an Andalusian shepherd boy named Santiago who travels from his homeland in Spain to the Egyptian desert in search of a treasure buried in the Pyramids. Along the way he meets a Gypsy woman, a man who calls himself king, and an alchemist, all of whom point Santiago in the direction of his quest. No one knows what the treasure is, or if Santiago will be able to surmount the obstacles along the way. But what starts out as a journey to find worldly goods turns into a discovery of the treasure found within. Lush, evocative, and deeply humane, the story of Santiago is an eternal testament to the transforming power of our dreams and the importance of listening to our hearts.</p>
							</li>
							<li class="list-group-item book-individual-review">
								<em class="list-group-item-heading">Reader 3</em>
								<p class="list-group-item-text">Paulo Coelho's enchanting novel has inspired a devoted following around the world. This story, dazzling in its powerful simplicity and inspiring wisdom, is about an Andalusian shepherd boy named Santiago who travels from his homeland in Spain to the Egyptian desert in search of a treasure buried in the Pyramids. Along the way he meets a Gypsy woman, a man who calls himself king, and an alchemist, all of whom point Santiago in the direction of his quest. No one knows what the treasure is, or if Santiago will be able to surmount the obstacles along the way. But what starts out as a journey to find worldly goods turns into a discovery of the treasure found within. Lush, evocative, and deeply humane, the story of Santiago is an eternal testament to the transforming power of our dreams and the importance of listening to our hearts.</p>
							</li>
						</ul>
						<form class="form-group">
							<label for="book-review">Write a review!</label>
							<textarea id="book-review" rows="5" class="form-control"></textarea>
							<a class="btn btn-block btn-primary submit-review-button">Submit</a>
						</form>
					</div>
				</div>
			</div>
		</section>


		<!-- Footer -->
		<footer id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1 text-center">
						<h4><strong>Kreeative Minds</strong>
						</h4>
						<p>Boston, MA</p>
						<ul class="list-unstyled">
							<li><i class="fa fa-phone fa-fw"></i> (919) 670-7487</li>
							<li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">kreenasmehta@gmail.com</a>
							</li>
						</ul>
						<br>
						<ul class="list-inline">
							<li>
								<a href="https://github.com/kreenasmehta/mehta-kreena-webdev/tree/master/public/project" target="_blank"><i class="fa fa-github fa-fw fa-3x"></i></a>
							</li>
							<li>
								<a href="http://www.linkedin.com/in/kreenasmehta" target="_blank"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
							</li>
						</ul>
						<hr class="small">
						<p class="text-muted">Copyright &copy; Kreena Mehta</p>
					</div>
				</div>
			</div>
			<a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
		</footer>

		<!-- jQuery -->
		<script src="../../js/jquery.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="../../js/bootstrap.min.js"></script>

		<!-- Custom Theme JavaScript -->
		<script>
			// Closes the sidebar menu
			$("#menu-close").click(function(e) {
				e.preventDefault();
				$("#sidebar-wrapper").toggleClass("active");
			});
			// Opens the sidebar menu
			$("#menu-toggle").click(function(e) {
				e.preventDefault();
				$("#sidebar-wrapper").toggleClass("active");
			});
			// Scrolls to the selected menu item on the page
			$(function() {
				$('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
					if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
						var target = $(this.hash);
						target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
						if (target.length) {
							$('html,body').animate({
								scrollTop: target.offset().top
							}, 1000);
							return false;
						}
					}
				});
			});
			//#to-top button appears after scrolling
			var fixed = false;
			$(document).scroll(function() {
				if ($(this).scrollTop() > 250) {
					if (!fixed) {
						fixed = true;
						// $('#to-top').css({position:'fixed', display:'block'});
						$('#to-top').show("slow", function() {
							$('#to-top').css({
								position: 'fixed',
								display: 'block'
							});
						});
					}
				} else {
					if (fixed) {
						fixed = false;
						$('#to-top').hide("slow", function() {
							$('#to-top').css({
								display: 'none'
							});
						});
					}
				}
			});
		</script>

	</body>

</html>
